<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Friday Stripes Home</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>
    <div id="FridayStripes">
      <a href="/friday">FridayStripes</a>
   <!--  <font color="#000000">FridayStripes</font> -->
    </div>
  </form>

<!-- <div id="enter">
  <form action="/friday" method="get" class="enter">
  <button>ENTER</button>
  </form>
</div> -->

<div id="bg">
  <div>
      <table cellpadding="0" cellspacing="0">
          <tbody><tr>
              <td>
                  <img src="/images/SweenyFriday.jpeg" border="0">
                </td>
            </tr>
        </tbody></table>
    </div>
</div>



</body>