<html>
<head>
  <title>Friday Stripes</title>
  <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    body { 
    background: url(/images/DG1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  </style>
</head>

<body>

 <!--  <div id="columnshomeshiftL">
    <img src="/images/columns_crespi.png" border="0">
  </div> -->
  <div id="bigcontainer">
    
    <div id="textMenu">
      <a href="/photos">PHOTOS</a><br>
      <a href="http://marthamagpie.com/">YADDA</a><br>
      <a href="http://jcrew.tumblr.com/">YADDA</a><br>
      <a href="http://jcrew.tumblr.com/">YADDA</a><br>
      <a href="http://jcrew.tumblr.com/">BLA</a><br>
      <a href="http://jcrew.tumblr.com/">BLA</a><br>
      <a href="http://jcrew.tumblr.com/">BLA</a><br>
      <a href="mailto:larahy@gmail.com">CONTACT ME</a>
    </div> 

    <div id="column1">
    </div>

    <div id="column2">
    </div>

    <div id="column3">
      <img src="/images/eggs.jpg" border="0">
    </div>

  </div>
 

  </body>
  </html>










