<html>
<head>
  <title>Friday Stripes</title>
  <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- <span class="bird">
    <img src="/larabarrr/biker_babe.png" border="0">
  </span>
  <span class="giraffe">
    <img src="/larabarrr/bath_socks.png" border="0">
  </span>
  <span class="peacock">
    <img src="/larabarrr/attitude.png" border="0">
  </span> -->
  <div id="columnshomeshiftL">
    <img src="/images/columns_crespi.png" border="0">
  </div>
mv
  <div id="textMenu">
    <a href="/photos">PHOTOS</a><br>
    <a href="http://marthamagpie.com/">YADDA</a><br>
    <a href="http://jcrew.tumblr.com/">YADDA</a><br>
    <a href="http://jcrew.tumblr.com/">YADDA</a><br>
    <a href="http://jcrew.tumblr.com/">BLA</a><br>
    <a href="http://jcrew.tumblr.com/">BLA</a><br>
    <a href="http://jcrew.tumblr.com/">BLA</a><br>
    <a href="mailto:larahy@gmail.com">CONTACT ME</a>
  </div> 

  <div id="textManufacturer">
    FRIDAY STRIPES
  </div>

  <div id="textBody">
  "
  I love stripes especially on Fridays.  Here are some reasons to celebrate stripes.  Spread the word. Play with them. Double up.
  "
  </div>
  <div id="textSeeSelected">
    <a class="seeSelected" href="http://www.degournay.com/">SEE MY FAVOURITE WALLPAPERS</a>
  </div>
  <a id="buttonFwdArrow" href="crespi1.htm" title="buttonFwdArrow">
    <span>
      .
      </span>
  </a>
  <a href="crespi1.htm">
    <div id="buttonInvisible">
    </div>
  </a>
  <div id="logoSmall">
    <img src="_images/logo_small.png" border="0">
  </div>
  <div id="logoSmall">
    <img src="_images/logo_small.png" border="0">
  </div>
  <div id="bg">
    <div>
      <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <img src="/images/SweenyFriday.jpeg" border="0">
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  </body>
  </html>










