<html>
<head>
  <title>Friday Stripes</title>
  <!--link to the CSS stylesheet -->
  <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="nav">
  <ul>
    <li><a href="/home">YADDA</a></li>
    <li><a href="/wip">YADDA</a></li>
    <li> <a href="http://marthamagpie.com/">YADDA</a></li>
    <li><a href="http://jcrew.tumblr.com/">BLA</a></li>
    <li><a href="http://jcrew.tumblr.com/">BLA</a></li>
    <li><a href="http://jcrew.tumblr.com/">BLA</a></li>
    <li><a href="mailto:larahy@gmail.com">CONTACT ME</a></li>
  </ul>
</div>
  <div id ="shuffle">
  <a class="enter" href="/">UNDER CONSTRUCTION</a>
  </div>

  <div id="collage">
    <% 4.times do |row| %>
      <div class='row'>
        <% 7.times do |box| %>
          <div class='box'>
            <%box_index = row * 4 + row * 3+ box %>
            <%box_value = @image[box_index].value%>
            <img src="<%= box_value %>">
          </div>
        <%end%>
      </div>
    <%end%>    
  </div>
</body>
</html>




